/*
* @subsection   RD Mail Form
*
* @description  Describes style declarations for RD Mail Form extension
*
* @author       Evgeniy Gusarov
* @link         https://ua.linkedin.com/pub/evgeniy-gusarov/8a/a40/54a
* @version      1.1.2
*/
@import "_mixins.scss";
@import "_variables.scss";

$input-height: 65px;
$input-font-weight: inherit;
$input-font-size: 15px;
$input-line-height: 34px;

$input-offset-top: 10px;

$input-color: $default;
$input-background: $contrast;

$input-border-radius: 0;
$input-border: none;

$input-padding: 15px 25px 15px 71px;

@if ($input-border != none) {
  $input-padding: ($input-height - $input-line-height - (nth($input-border, 1) * 2)) / 2 18px;
}

$textarea-height: 212px;

$placeholder-clr: $input-color;
$placeholder-opacity: 1;

.rd-mailform {
  position: relative;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  fieldset {
    border: none;

    > .row + .row{
      margin-top: $input-offset-top;
    }
  }
}

.rd-mailform label {
  position: relative;
  //max-width: 311px;
  display: block;
  width: 100%;
  margin-top: 28px;
  //margin-top: $input-height / 2;

  &:first-child {
    margin-top: 0;
  }

  input, select {
    height: $input-height;
  }

  input, select, textarea {
    display: block;
    width: 100%;
    margin: 0;
    -webkit-appearance: none;
    font-size: $input-font-size;
    padding: $input-padding;
    line-height: $input-line-height;
    color: $input-color;
    background: $input-background;

    @if ($input-border != none) {
      border: $input-border;
      border-radius: $input-border-radius;
    }

    &:-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-webkit-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &::-moz-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }

    &:-ms-input-placeholder {
      color: $placeholder-clr;
      opacity: $placeholder-opacity;
    }
  }


  textarea {
    resize: vertical;
    overflow: auto;
    min-height: $input-height;
    height: $textarea-height;
    max-height: $textarea-height * 1.5;
  }

  @media (min-width: 768px) {
    margin-top: $input-offset-top;
  }
}

/*
* MF Controls
*/

.mfControls {
  button {
  }
}

@import "mailform_modules-1/_mf-animation.scss";
@import "mailform_modules-1/_mf-placeholder.scss";
@import "mailform_modules-1/_mf-validation.scss";
@import "mailform_modules-1/_mf-submit.scss";
@import "mailform_modules-1/_mf-icon.scss";
@import "mailform_modules-1/_mf-select.scss";
@import "mailform_modules-1/_mf-datepicker.scss";










